﻿@{
    ViewBag.Title = "Gestión de Tarjetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Registrar Tarjetas</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Seleccione el archivo que contenga la información de las tarjetas</h6>
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm
                                    (
                                        "Add", 
                                        "Tarjeta", 
                                        FormMethod.Post, 
                                        new 
                                        { 
                                            enctype = "multipart/form-data"
                                            ,id="MedForm"
                                            ,name="MedForm"
                                            //,target="UploadTarget" 
                                            ,@class = "form-inline"
                                        }
                                    )
                                )
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        <a href="#" id="file" onclick="FileClick()" class="btn btn-info" > Examinar...</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" id="txtFile" class="form-control" readonly="true">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="submit" value="Agregar" class="btn btn-warning" />
                                     </div>
                                        <input type="file" id="listaTarjetas" name="listaTarjetas" title="Examinar..." style="display:none;" />
                                </div>  
                            }

                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Tarjeta/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

<script type="text/javascript">
  function FileClick()
  {
      document.getElementById('listaTarjetas').click();
  }
  $("#listaTarjetas").change(function () {
        $('#txtFile').val($('input[type=file]').val().split('\\').pop()) //Asignar nombre del archivo
    });
</script>
}
