﻿@model Daval.Models.Tarjeta

@{
    ViewBag.Title = "Gestión de Tarjetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Eliminar Tarjeta</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>¿Está seguro de eliminar esta tarjeta?</h6><hr />
                        </div>
                        <div class="form-horizontal">
                                @using (Html.BeginForm()) {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label">SERIAL</label>
                                        <div class="col-lg-3">@Html.DisplayFor(model => model.serial)</div>
                                        <label class="col-lg-3 control-label">ESTADO</label>
                                        <div class="col-lg-3">@Html.DisplayFor(model => model.estado.descripcion)</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label">LOTE</label>
                                        <div class="col-lg-3">@Html.DisplayFor(model => model.lote)</div>
                                        <div class="col-lg-4 pull-right"><input type="submit" value="Eliminar" class="btn btn-warning" /></div>
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Tarjeta/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
