﻿@model Daval.Models.Tarjeta

@{
    ViewBag.Title = "Gestión de Tarjetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Editar Tarjeta</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Edite aquí los datos de la tarjeta</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.idTarjeta)
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> SERIAL </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.serial)@Html.ValidationMessageFor(model => model.serial)</div>
                                    <label class="col-lg-3 control-label"> LOTE </label>
                                    <div class="col-lg-3"> @Html.EditorFor(model => model.lote)@Html.ValidationMessageFor(model => model.lote)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> FECHA DE ENTRADA </label>
                                    <div class="col-lg-3">
                                            <div id="datetimepicker1" class="input-append datetimepicker">
                                                <input type="text" data-format="yyyy/MM/dd" class="picker" id="fecha_entrada" name="fecha_entrada" value="@String.Format("{0:yyyy/MM/dd}", Model.fecha_entrada)"/> 
                                                <span class="add-on">&nbsp;<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i></span>
                                                 @Html.ValidationMessageFor(model => model.fecha_entrada)
                                            </div>
                                             @*@Html.EditorFor(model => model.fecha_entrada)*@
                                    </div>
                                    <label class="col-lg-3 control-label"> FECHA DE SALIDA </label>
                                    <div class="col-lg-3">
                                        <div id="datetimepicker3" class="input-append datetimepicker">
                                                <input type="text" data-format="yyyy/MM/dd" class="picker" id="fecha_salida" name="fecha_salida" value="@String.Format("{0:yyyy/MM/dd}", Model.fecha_salida)"/> 
                                                <span class="add-on">&nbsp;<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i></span>
                                                 @Html.ValidationMessageFor(model => model.fecha_salida)
                                        </div>
                                        @*@Html.EditorFor(model => model.fecha_salida)*@ 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> CONTRASEÑA </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.contraseña)
                                        @Html.ValidationMessageFor(model => model.contraseña)</div>
                                    <label class="col-lg-3 control-label"> ESTADO </label>
                                    <div class="col-lg-3">@Html.DropDownList("idEstado", String.Empty)
                                        @Html.ValidationMessageFor(model => model.idEstado)</div>
                                </div>  
                                <hr />
                                <div class="form-group">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Guardar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Tarjeta/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
