﻿@model IEnumerable<Daval.Models.Tarjeta>

@{
    ViewBag.Title = "Gestión de Tarjetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Tarjetas registradas</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.serial).ToString().ToUpper()
                                        </td>
                                        <td>
                                            @Html.DisplayNameFor(model => model.lote).ToString().ToUpper()
                                        </td>
                                        <td>ESTADO </td>
                                        <td>OPCIONES</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model) 
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.serial)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lote)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.estado.descripcion)
                                            </td> 
                                            <td>
                                                <a class="btn btn-sm btn-info" href="/Tarjeta/Details/@item.idTarjeta"><i class="icon-ok"></i> Ver más </a>
                                                <a class="btn btn-sm btn-warning" href="/Tarjeta/Delete/@item.idTarjeta"><i class="icon-remove"></i> Eliminar </a>
                                            </td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <a class="btn btn-warning" href="/Tarjeta/Create">Agregar Tarjeta</a>
                        <a class="btn btn-warning" href="/Tarjeta/Add">Agregar a partir de un archivo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
