﻿@model Daval.Models.IniciarSesionModelo

@{
    ViewBag.Title = " DAVAL | Iniciar Sesion";
    Layout = "~/Views/Shared/_Sesion.cshtml";
}
<!-- Widget starts -->
<div class="widget worange">
        <!-- Widget head -->
        <div class="widget-head">
        <i class="icon-user"></i> Iniciar Sesión 
        </div>
        <div class="widget-content">
            <div class="padd">
                <div class="form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <!-- usuario -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="usuario">Usuario</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                            @Html.ValidationMessageFor(model => model.usuario)
                        </div>
                    </div>
                    <!-- Contraseña -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="pass">Contraseña</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="******">
                            @Html.ValidationMessageFor(model => model.pass)
                        </div>
                    </div>
                    <div class="col-lg-9 col-lg-offset-3">
					    <button type="submit" class="btn btn-warning">Entrar</button>
					    <button type="reset" class="btn btn-default">Limpiar</button>
				    </div>
                    <br />
                }
                </div>
             </div>
        </div>
        @*<div class="widget-foot">
            ¿No estás registrado? <a href="~/Sesion/Registrar" class="bold" style="color: #52b9e9;" >Registrate aquí</a>
        </div>*@
</div>