﻿@model Daval.Models.PerfilModelo

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Perfil de Usuario</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Actualize aquí los datos de su perfil</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.idUsuario)
                                @Html.HiddenFor(model => model.idRol)
                                @Html.HiddenFor(model => model.idEstado)
                                @Html.HiddenFor(model => model.usuario)
                                @Html.HiddenFor(model => model.contraseña)
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> NOMBRE </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.nombre) @Html.ValidationMessageFor(model => model.nombre)</div>
                                    <label class="col-lg-3 control-label"> APELLIDO </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.apellido) @Html.ValidationMessageFor(model => model.apellido)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> CONTRASEÑA ACTUAL </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.passActual) @Html.ValidationMessageFor(model => model.passActual)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> NUEVA CONTRASEÑA </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.passNueva) @Html.ValidationMessageFor(model => model.passNueva)</div>
                                    <label class="col-lg-3 control-label"> CONFIRMAR CONTRASEÑA </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.confirmarPass) @Html.ValidationMessageFor(model => model.confirmarPass)</div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Guardar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Home/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
