﻿@model Daval.Models.RegistrarModelo

@{
    ViewBag.Title = "DAVAL | Registrar";
    Layout = "~/Views/Shared/_Sesion.cshtml";
}

<!-- Widget starts -->
<div class="widget wlightblue">
        <!-- Widget head -->
        <div class="widget-head">
        <i class="icon-user"></i> Registrate 
        </div>
        <div class="widget-content">
            <div class="padd">
                <div class="form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <!-- usuario -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="usuario">@Html.DisplayNameFor(model => model.usuario)</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                            @Html.ValidationMessageFor(model => model.usuario)
                        </div>
                    </div>
                    <!-- Contraseña -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="pass">@Html.DisplayNameFor(model => model.pass)</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="******">
                            @Html.ValidationMessageFor(model => model.pass)
                        </div>
                    </div>
                     <!-- Confirmar Contraseña -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="pass">@Html.DisplayNameFor(model => model.confirmarPass)</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" id="confirmarPass" name="confirmarPass" placeholder="******">
                            @Html.ValidationMessageFor(model => model.pass)
                        </div>
                    </div>
                    <div class="col-lg-9 col-lg-offset-3">
					    <button type="submit" class="btn btn-info">Registrar</button>
					    <button type="reset" class="btn btn-default">Limpiar</button>
				    </div>
                    <br />
                }
                </div>
             </div>
        </div>
        <div class="widget-foot">
            ¿Ya estás registrado? <a href="~/Sesion/IniciarSesion" class="bold" style="color: #52b9e9;" >Inicia sesión aquí</a>
        </div>
</div>
