﻿@{ViewBag.Nom = TempData["nom"];}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>DAVAL | @ViewBag.Title</title>
    <link rel="shorcut icon" href="@Url.Content("~/MetroKing/favicon.ico")" type="image/x-icon" media="all" />
    <link href="~/MetroKing/style/bootstrap.css" rel="stylesheet" />
    <link href="~/MetroKing/style/font-awesome.css" rel="stylesheet" />
    <link href="~/MetroKing/style/jquery-ui.css" rel="stylesheet" />
    @*<link href="~/MetroKing/style/fullcalendar.css" rel="stylesheet" />
    <link href="~/MetroKing/style/prettyPhoto.css" rel="stylesheet" />
    <link href="~/MetroKing/style/rateit.css" rel="stylesheet" />*@
    <link href="~/MetroKing/style/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @*<link href="~/MetroKing/style/jquery.gritter.css" rel="stylesheet" />
    <link href="~/MetroKing/style/jquery.cleditor.css" rel="stylesheet" />
    <link href="~/MetroKing/style/bootstrap-switch.css" rel="stylesheet" />*@
    <link href="~/MetroKing/style/style.css" rel="stylesheet" />
    <link href="~/MetroKing/style/widgets.css" rel="stylesheet" />

    <!-- HTML5 Support for IE -->
     <!--[if IE]>
      <script src="~/MetroKing/js/html5shim.js"></script>
     <![endif]-->


    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="containerk">
        <!-- Menu button for smaller screens -->
	    <div class="navbar-header">
		    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    </button>
		    <a href="index.html" class="navbar-brand"><span class="bold" style="color: #CB8C02;"> DAVAL </span></a>
	    </div>
        <!-- Site name for smallar screens -->
        <!-- Navigation starts -->
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">   
            <!-- Links -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">            
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="bold" style="font-size: 16px;" > @ViewBag.Nom </span><b class="caret"></b>              
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu">
                    <li><a href="~/Sesion/Perfil"><i class="icon-user"></i> Ver Perfil </a></li>
                    <li><a href="~/Configuraciones/Index"><i class="icon-cog"></i> Configuraciones </a></li>
                    <li>@using (Html.BeginForm("CerrarSesion", "Sesion", FormMethod.Post, new { id = "cerrar" })){@Html.AntiForgeryToken()}<a href="javascript:document.getElementById('cerrar').submit()"><i class="icon-off"></i> Cerrar Sesión </a></li>
                </ul>
                </li>
            </ul>

            <!-- Notifications -->
	    </ nav>
    </div>
</div>

<div class="content">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#"> MENU </a></div>
        <div class="sidebar-inner">
          <!--- Sidebar navigation -->
          <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
          <ul class="navi">
            <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->
            <li class="@ViewBag.Panel"><a href="/"><i class="icon-home"></i> Panel de Control </a></li>
             @* <li class="norange current"><a href="/"><i class="icon-desktop"></i> Panel de Control </a></li>*@
            <!-- Menu Reportes y Estadísticas -->
            <li class="has_submenu @ViewBag.Estadisticas">
              <a><i class="icon-file"></i> Reportes <span class="pull-right"><i class="icon-angle-right"></i></span></a>
              <ul>
                <li><a href="~/Recarga/Index">Historial de Recargas</a></li>
                <li><a href="~/Alerta/Index">Historial de Alertas</a></li>
                <li><a href="~/Error/Index">Historial de Errores</a></li>
                <li><a href="~/ClienteMedidor/Index">Relación de Clientes y<br /> Medidores</a></li>
                <li><a href="~/ClienteTarjeta/Index">Relación de Clientes y<br /> Tarjetas</a></li>
                <li><a href="~/Recarga/POS">Relación de Recargas <br />y Puntos de Venta</a></li>
              </ul>
            </li>
            <!-- Menu Gestión del Servicio -->
            <li class="has_submenu @ViewBag.Servicios">
              <a><i class="icon-gears"></i> Gestión del Servicio <span class="pull-right"><i class="icon-angle-right"></i></span></a>
              <ul>
                <li><a href="~/Municipio/Index">Gestión de Municipio</a></li>
                <li><a href="~/Estrato/Index">Gestión de Estratos</a></li>
                <li><a href="~/POS/Index">Gestión de Puntos de Venta</a></li>
                <li><a href="~/POA/Index">Gestión de Puntos de Administración</a></li>
                <li><a href="~/Medidor/Index">Gestión de Medidores</a></li>
                <li><a href="~/Tarjeta/Index">Gestión de Tarjetas</a></li>
                <li><a href="~/Cliente/Index">Gestión de Clientes</a></li>
              </ul>
            </li>
            <!-- Menu Gestión Seguridad -->
            <li class="has_submenu @ViewBag.Seguridad">
                <a><i class="icon-lock"></i> Gestión de Seguridad <span class="pull-right"><i class="icon-angle-right"></i></span></a>
                <ul>
                    <li><a href="~/Estado/Index">Gestión de Estados</a></li>
                    <li><a href="~/Rol/Index">Gestión de Roles</a></li>
                    <li><a href="~/Usuario/Index">Gestión de Usuarios</a></li>
                </ul>
            </li>
          </ul>
          <!-- Date -->
          <div class="sidebar-widget">
            <div id="todaydate"></div>
          </div>
        </div>
    </div>
    <!-- Sidebar ends -->
    <!-- Main bar -->
    <div class="mainbar">
        <!-- Page heading -->
	    <div class="page-head">
        <!-- Page heading -->
	        <h2 class="pull-left">@ViewBag.Title
			    <!-- page meta -->
			    <span class="page-meta">DAVAL - Software</span>
		    </h2>
		    <!-- Breadcrumb -->
		    <div class="bread-crumb pull-right">
			    <a href="/"><i class="icon-home"></i> Inicio </a> 
			    <!-- Divider -->
			    <span class="divider">/</span> 
			    <a href="#" class="bread-current"> @ViewBag.Title </a>
		    </div>
		    <div class="clearfix"></div>
	    </div>
	    <!-- Page heading ends -->
        @RenderBody()
    </div>
    <!-- Mainbar ends -->
    
   <div class="clearfix"></div>
</div>

<span class="totop" style="display:block; background: #222; "><a href="#"><i class="icon-chevron-up"></i></a></span>
<script src="~/MetroKing/js/jquery.js"></script>
<script src="~/MetroKing/js/bootstrap.js"></script>
<script src="~/MetroKing/js/jquery-ui-1.10.2.custom.min.js"></script>
@*<script src="~/MetroKing/js/fullcalendar.min.js"></script>
<script src="~/MetroKing/js/jquery.rateit.min.js"></script>
<script src="~/MetroKing/js/jquery.prettyPhoto.js"></script>*@
@*Estadísticas*@
<script src="~/MetroKing/js/excanvas.min.js"></script>
<script src="~/MetroKing/js/jquery.flot.js"></script>
<script src="~/MetroKing/js/jquery.flot.resize.js"></script>
<script src="~/MetroKing/js/jquery.flot.pie.js"></script>
<script src="~/MetroKing/js/jquery.flot.stack.js"></script>
@*Estadísticas*@
@*<script src="~/MetroKing/js/jquery.gritter.min.js"></script>*@
@*<script src="~/MetroKing/js/sparklines.js"></script>*@
@*<script src="~/MetroKing/js/jquery.cleditor.min.js"></script>*@
<script src="~/MetroKing/js/bootstrap-datetimepicker.min.js"></script>
@*<script src="~/MetroKing/js/bootstrap-switch.min.js"></script>*@  
@*<script src="~/MetroKing/js/filter.js"></script>*@
<script src="~/MetroKing/js/custom.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>
