﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link rel="shorcut icon" href="@Url.Content("~/MetroKing/favicon.ico")" type="image/x-icon" media="all" />
    <title>@ViewBag.Title</title>
    <link href="~/MetroKing/style/bootstrap.css" rel="stylesheet" />
    <link href="~/MetroKing/style/font-awesome.css" rel="stylesheet" />
    <link href="~/MetroKing/style/style.css" rel="stylesheet" />
</head>
<body>
<!-- Form area -->
<div class="error-page">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        @RenderBody()
      </div>
    </div>
  </div> 
</div>
    <script src="~/MetroKing/js/jquery.js"></script>
    <script src="~/MetroKing/js/bootstrap.js"></script>
</body>
</html>