﻿@model Daval.Models.Medidor

@{
    ViewBag.Title = "Gestión de Medidores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Detalles del Medidor</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SERIAL</th>
                                    <th>LOTE</th>
                                    <th>FECHA DE<br />ENTRADA</th>
                                    <th>FECHA DE<br />SALIDA</th>
                                    <th>METROS<br />CÚBICOS<br />ACUMULADOS</th>
                                    <th>METROS<br />CÚBICOS<br />CONSUMIDOS</th>
                                    <th>NIVEL DE<br /> CARGA DE<br /> BATERIA (V)</th>
                                    <th>ESTADO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.serial)</td>
                                    <td>@Html.DisplayFor(model => model.lote)</td>
                                    <td>@String.Format("{0:yyyy/MM/dd}", Model.fecha_entrada)</td>
                                    <td>@String.Format("{0:yyyy/MM/dd}", Model.fecha_salida)</td>
                                    <td>@Html.DisplayFor(model => model.mca)</td>
                                    <td>@Html.DisplayFor(model => model.mcc)</td>
                                    <td>@Html.DisplayFor(model => model.nivelBateria)</td>
                                    <td>@Html.DisplayFor(model => model.estados.descripcion)</td>
                                    <td><a class="btn btn-sm btn-warning" href="/Medidor/Edit/@Model.idMedidor"><i class="icon-pencil"></i> Editar </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Medidor/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>