﻿@model IEnumerable<Daval.Models.Medidor>

@{
    ViewBag.Title = "Gestión de Medidores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Medidores registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.serial).ToString().ToUpper()</th>
                                    <th>@Html.DisplayNameFor(model => model.lote).ToString().ToUpper()</th> 
                                    <th>ESTADO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) 
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.serial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lote)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estados.descripcion)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="/Medidor/Details/@item.idMedidor"><i class="icon-ok"></i> Ver más </a>
                                        <a class="btn btn-sm btn-warning" href="/Medidor/Delete/@item.idMedidor"><i class="icon-remove"></i> Eliminar </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <a class="btn btn-warning" href="/Medidor/Create">Agregar Medidor</a>
                        <a class="btn btn-warning" href="/Medidor/Add">Agregar a partir de un archivo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>