﻿@model Daval.Models.Municipio

@{
    ViewBag.Title = "Gestión de Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Agregar Municipio</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Digite aquí el nombre del nuevo municipio</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                   <div class="form-group row">
                                    <label class="col-lg-4 control-label"> MUNICIPIO </label>
                                    <div class="col-lg-4"><input type="text" id="nombre" name="nombre" class="form-control" placeholder="Municipio"/>@Html.ValidationMessageFor(model => model.nombre)</div>
                                    <div class="col-lg-4"><input type="submit" value="Agregar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Municipio/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
