﻿@model Daval.Models.Municipio

@{
    ViewBag.Title = "Gestión de Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Eliminar Municipio</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>¿Está seguro de eliminar este municipio?</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) {
                                @Html.AntiForgeryToken()
                                <div class="form-group row">
                                    <label class="col-lg-2 control-label"></label>
                                    <div class="col-lg-4">@Html.DisplayFor(model => model.nombre)</div>
                                    <div class="col-lg-2"><input type="submit" value="Eliminar" class="btn btn-warning" /></div>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Municipio/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>