﻿@model IEnumerable<Daval.Models.Municipio>

@{
    ViewBag.Title = "Gestión de Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Municipios registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <tbody>     
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nombre)
                                        </td>
                                        <td>    
                                        <a class="btn btn-sm btn-info" href="/Municipio/Edit/@item.idMunicipio"><i class="icon-pencil"></i> Editar</a> 
                                        <a class="btn btn-sm btn-warning" href="/Municipio/Delete/@item.idMunicipio"><i class="icon-remove"></i> Eliminar</a>
                                    </td>
                                </tr>
                                }
                                
                            </tbody>  
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-warning" href="/Municipio/Create">Agregar Municipio</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
