﻿@model IEnumerable<Daval.Models.Estrato>

@{
    ViewBag.Title = "Gestión de Estratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Estratos registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        ESTRATO
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.valor).ToString().ToUpper()
                                    </th>
                                    <th> OPCIONES </th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model) 
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estratoNom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.valor)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="/Estrato/Edit/@item.idEstrato"><i class="icon-pencil"></i> Editar </a> 
                                        <a class="btn btn-sm btn-warning" href="/Estrato/Delete/@item.idEstrato"><i class="icon-remove"></i> Eliminar </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-warning" href="/Estrato/Create">Agregar Estrato</a></div>
                </div>
            </div>
        </div>
    </div>
</div>