﻿@model Daval.Models.Configuraciones

@{
    ViewBag.Title = "Gestión de Configuraciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Actualize aquí las configuraciones</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.id)
                                <div class="form-group">
                                    <label class="col-lg-5 "> RECARGA DE EMERGENCIA ($)</label>
                                    <div class="col-lg-5">@Html.EditorFor(model => model.recargaEmergencia)
                                        @Html.ValidationMessageFor(model => model.recargaEmergencia)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 "> INTERVALO PARA COPIA DE SEGURIDAD (min.)</label>
                                    <div class="col-lg-5">@Html.EditorFor(model => model.intervaloCopiaSeguridad) 
                                        @Html.ValidationMessageFor(model => model.intervaloCopiaSeguridad)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 "> INTERVALO PARA NOTIFICACIONES (min.)</label>
                                    <div class="col-lg-5">@Html.EditorFor(model => model.intervaloNotificacion)
                                        @Html.ValidationMessageFor(model => model.intervaloNotificacion)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 "> INTERVALO PARA MANTENIMIENTOS (min.)</label>
                                    <div class="col-lg-5">@Html.EditorFor(model => model.intervaloMantenimiento) 
                                        @Html.ValidationMessageFor(model => model.intervaloMantenimiento)</div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-lg-5"> TIEMPO DE EXPIRACIÓN DE SESIÓN (min.)</label>
                                    <div class="col-lg-5">@Html.EditorFor(model => model.intervaloSesión)
                                        @Html.ValidationMessageFor(model => model.intervaloSesión)</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Guardar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Home/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}