﻿@model Daval.Models.Estado

@{
    ViewBag.Title = "Gestión de Estados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Eliminar Estado</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>¿Está seguro de eliminar este estado?</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                <div class="form-group row">
                                    <label class="col-lg-2 control-label"></label>
                                    <div class="col-lg-4">@Html.DisplayFor(model => model.descripcion)@Html.AntiForgeryToken()</div>
                                    <div class="col-lg-2"><input type="submit" value="Eliminar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Estado/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
