﻿@model IEnumerable<Daval.Models.Estado>

@{
    ViewBag.Title = "Gestión de Estados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Estados registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <tbody>       
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </td>
                                    <td>    
                                        <a class="btn btn-sm btn-info" href="/Estado/Edit/@item.idEstado"><i class="icon-pencil"></i> Editar</a> 
                                        <a class="btn btn-sm btn-warning" href="/Estado/Delete/@item.idEstado"><i class="icon-remove"></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                            </tbody>  
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-warning" href="/Estado/Create">Agregar Estado</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
