﻿@{
    ViewBag.Title = "Panel de Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	
<!-- Matter -->
<div class="matter">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12"> 
           
            <ul class="today-datas">
            
                <li class="blightblue">
                   
                    <div class="pull-left"><i class="icon-group"></i></div>
                  
                    <div class="datas-text pull-right"><span class="bold">@ViewBag.TotalClientes</span> Clientes </div>
                    <div class="clearfix"></div>
                </li>
                <li class="blightblue">
                   
                    <div class="pull-left"><i class="icon-desktop"></i></div>
                   
                    <div class="datas-text pull-right"><span class="bold">@ViewBag.TotalPOS</span> Puntos de Venta </div>
                    <div class="clearfix"></div>
                </li>
                <li class="blightblue">
                    
                    <div class="pull-left">@*<span id="todayspark1" class="spark"></span>*@<i class="icon-fire"></i></div>
                    
                    <div class="datas-text pull-right"><span class="bold">@ViewBag.M3Total</span> M<sup>3</sup> Vendidos</div>
                    <div class="clearfix"></div>
                </li>
                
                <li class="blightblue">
                   
                    <div class="pull-left">@*<span id="todayspark2" class="spark"></span>*@<i class="icon-dollar"></i></div>
                    
                    <div class="datas-text pull-right"><span class="bold">@ViewBag.ComprasT</span> Ventas Totales </div>
                    <div class="clearfix"></div>
                </li>
            </ul> 
        </div>
        </div>
        
        <!-- Dashboard Graph starts -->
        <div class="row">
            <div class="col-md-8">
                <!-- Widget -->
                <div class="widget worange">
                <!-- Widget head -->
                <div class="widget-head">
                    <div class="pull-left">Ventas</div>
                    <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    </div>
                    <div class="clearfix"></div>
                </div>     
                <!-- Widget content -->
                <div class="widget-content">
                    <div class="padd">
                    <!-- Bar chart (Blue color). jQuery Flot plugin used. -->
                    <div id="bar-chart"></div>
                    </div>
                </div>
                <!-- Widget ends -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget worange">
                    <div class="widget-head">
                        <div class="pull-left">El día de Hoy</div>
                        <div class="widget-icons pull-right">
                        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                        @*<a href="#" class="wclose"><i class="icon-remove"></i></a>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>  
                    <div class="widget-content">
                        <div class="padd">
                        <!-- Visitors, pageview, bounce rate, etc., Sparklines plugin used -->
                        <ul class="current-status">
                            <li>
                            @*<span id="status1"></span>*@<i class="icon-bar-chart"></i> <span class="bold">Ventas : $ @ViewBag.ComprasHoy</span> @*<i class="icon-arrow-up green"></i>*@
                            </li>
                            <li>
                                <i class="icon-bar-chart"></i> <span class="bold">Metros Cúbicos : @ViewBag.M3Hoy M<sup>3</sup></span>
                            </li>                                                                                         
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="widget worange">
                    <!-- Widget title -->
                    <div class="widget-head">
                      <div class="pull-left">Estado del Servicio</div>
                      <div class="widget-icons pull-right">
                        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                      <table class="table  table-bordered ">
                        <tr>
                          <td>Dominio</td>
                          <td>sitedomain.com</td>
                        </tr> 
                        <tr>
                          <td>Dirección IP</td>
                          <td> @Request.ServerVariables["SERVER_NAME"].ToString()</td>
                        </tr> 
                        <tr>
                          <td>.Net Version</td>
                          <td>@System.Environment.Version.ToString()</td>
                        </tr> 
                        <tr>
                          <td>SQL Server</td>
                          <td>V. 11.0.9164.79</td>
                        </tr>                                                                                                     
                      </table>
                    </div>
                </div>
            </div>
        <!-- Dashboard graph ends -->
        </div>
    </div>
</div>
<!-- Matter ends -->

@section Scripts
{
    @Scripts.Render("~/Content/Sparklines")
    <script type="text/javascript">
        $(function () {
            /* Bar Chart starts */
            var d1 = [];
            for (var i = 0; i <= 30; i += 1)
                d1.push([i, parseInt(Math.random() * 30)]);
            var d2 = [];
            for (var i = 0; i <= 30; i += 1)
                d2.push([i, parseInt(Math.random() * 30)]);
            var stack = 0, bars = true, lines = false, steps = false;
            function plotWithOptions() {
                $.plot($("#bar-chart"), [d1, d2], {
                    series: {
                        stack: stack,
                        lines: { show: lines, fill: true, steps: steps },
                        bars: { show: bars, barWidth: 0.8 }
                    },
                    grid: {
                        borderWidth: 0, hoverable: true, color: "#777"
                    },
                    colors: ["#52b9e9", "#0aa4eb"],
                    bars: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: { colors: [{ opacity: 0.9 }, { opacity: 0.8 }] }
                    }
                });
            }
            plotWithOptions();
            $(".stackControls input").click(function (e) {
                e.preventDefault();
                stack = $(this).val() == "With stacking" ? true : null;
                plotWithOptions();
            });
            $(".graphControls input").click(function (e) {
                e.preventDefault();
                bars = $(this).val().indexOf("Bars") != -1;
                lines = $(this).val().indexOf("Lines") != -1;
                steps = $(this).val().indexOf("steps") != -1;
                plotWithOptions();
            });
            /* Bar chart ends */
        });
        /* Curve chart starts */
        //$(function () {
        //    var sin = [], cos = [];
        //    for (var i = 0; i < 14; i += 0.5) {
        //        sin.push([i, Math.sin(i)]);
        //        cos.push([i, Math.cos(i)]);
        //    }
        //    var plot = $.plot($("#curve-chart"),
        //    [{ data: sin, label: "sin(x)" }, { data: cos, label: "cos(x)" }], {
        //        series: {
        //            lines: {
        //                show: true,
        //                fill: true,
        //                fillColor: {
        //                    colors: [{
        //                        opacity: 0.05
        //                    }, {
        //                        opacity: 0.01
        //                    }]
        //                }
        //            },
        //            points: { show: true }
        //        },
        //        grid: { hoverable: true, clickable: true, borderWidth: 0 },
        //        yaxis: { min: -1.2, max: 1.2 },
        //        colors: ["#fa3031", "#43c83c"]
        //    });
        //    function showTooltip(x, y, contents) {
        //        $('<div id="tooltip">' + contents + '</div>').css({
        //            position: 'absolute',
        //            display: 'none',
        //            top: y + 5,
        //            width: 100,
        //            left: x + 5,
        //            border: '1px solid #000',
        //            padding: '2px 8px',
        //            color: '#ccc',
        //            'background-color': '#000',
        //            opacity: 0.9
        //        }).appendTo("body").fadeIn(200);
        //    }
        //    var previousPoint = null;
        //    $("#curve-chart").bind("plothover", function (event, pos, item) {
        //        $("#x").text(pos.x.toFixed(2));
        //        $("#y").text(pos.y.toFixed(2));
        //        if (item) {
        //            if (previousPoint != item.dataIndex) {
        //                previousPoint = item.dataIndex;
        //                $("#tooltip").remove();
        //                var x = item.datapoint[0].toFixed(2),
        //                y = item.datapoint[1].toFixed(2);
        //                showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
        //            }
        //        }
        //        else {
        //            $("#tooltip").remove();
        //            previousPoint = null;
        //        }
        //    });
        //    $("#curve-chart").bind("plotclick", function (event, pos, item) {
        //        if (item) {
        //            $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
        //            plot.highlight(item.series, item.datapoint);
        //        }
        //    });
        //});
        /* Curve chart ends */
</script>
}