﻿@{
    ViewBag.Title = "Restringido";
    Layout = "~/Views/Shared/Error.cshtml";
}

<!-- Widget starts -->
<div class="widget wred">
    <!-- Widget head -->
    <div class="widget-head">
    <i class="icon-ban-circle"></i> Solicitud Denegada 
    </div>

    <div class="widget-content">
    <div class="padd error">
                  
        <h1>Acceso Denegado</h1>
        <p>Ud. no tiene los permisos necesarios para ejecutar esta acción</p>
        <br />
        <div class="horizontal-links">
        <a href="~/Home/Index" class="bold" style="color: #52b9e9;">Volver</a> 
        </div>

    </div>
    </div>
    @*<div class="widget-foot">
        <!-- Footer goes here -->
    </div>*@
</div>  
