﻿@model IEnumerable<Daval.Models.ClienteMedidor>

@{
    ViewBag.Title = "Relación Cliente y Medidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Relación de Clientes y Medidores</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>CLIENTE</th>
                                    <th>MEDIDOR</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) 
                                {
                                    <tr>
                                        
                                        <td>
                                            @item.cliente.nombre.ToUpper()
                                            @item.cliente.apellido.ToUpper()
                                        </td>
                                        <td>@item.medidor.serial.ToUpper()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>