﻿@model Daval.Models.Usuario

@{
    ViewBag.Title = "Gestión de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Agregar Usuario</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Digite aquí los datos del nuevo usuario</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group row">
                                    <label class="col-lg-3 control-label"> NOMBRE </label>
                                    <div class="col-lg-3">
                                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"/>
                                        @Html.ValidationMessageFor(model => model.nombre)
                                    </div>
                                    <label class="col-lg-3 control-label"> APELLIDO </label>
                                    <div class="col-lg-3">
                                        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido"/>
                                        @Html.ValidationMessageFor(model => model.apellido)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 control-label"> USUARIO </label>
                                    <div class="col-lg-3">
                                        <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario"/>
                                        @Html.ValidationMessageFor(model => model.usuario)
                                    </div>
                                    <label class="col-lg-3 control-label"> CONTRASEÑA </label>
                                    <div class="col-lg-3">
                                        <input type="text" id="contraseña" name="contraseña" class="form-control" placeholder="Contraseña"/>
                                        @Html.ValidationMessageFor(model => model.contraseña)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 control-label"> ROL </label>
                                    <div class="col-lg-3">
                                       @Html.DropDownList("idRol", String.Empty)
                                       @Html.ValidationMessageFor(model => model.idRol)
                                    </div>
                                    <label class="col-lg-3 control-label"> ESTADO </label>
                                    <div class="col-lg-3">
                                         @Html.DropDownList("idEstado", String.Empty)
                                         @Html.ValidationMessageFor(model => model.idEstado)
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Agregar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Usuario/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
       
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
