﻿@model Daval.Models.Usuario

@{
    ViewBag.Title = "Gestión de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Detalles del Usuario</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()</td>
                                    <td>@Html.DisplayNameFor(model => model.apellido).ToString().ToUpper()</td>
                                    <td>ROL</td>
                                    <td>@Html.DisplayNameFor(model => model.usuario).ToString().ToUpper()</td>
                                    <td>CONTRASEÑA</td>
                                    <td>ESTADO ACTUAL</td>
                                    <td>OPCIONES</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.nombre)</td>
                                    <td>@Html.DisplayFor(model => model.apellido)</td>
                                    <td>@Html.DisplayFor(model => model.rol.rolName)</td>
                                    <td>@Html.DisplayFor(model => model.usuario)</td>
                                    <td>@Html.DisplayFor(model => model.contraseña)</td>
                                    <td>@Html.DisplayFor(model => model.estado.descripcion)</td>
                                    <td><a class="btn btn-sm btn-warning" href="/Usuario/Edit/@Model.idUsuario"><i class="icon-pencil"></i> Editar </a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Usuario/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>