﻿@model Daval.Models.Usuario

@{
    ViewBag.Title = "Gestión de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Editar Usuario</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Edite aquí los datos del usuario</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.idUsuario)
                                @Html.HiddenFor(model => model.idEstado)
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> NOMBRE </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.nombre) @Html.ValidationMessageFor(model => model.nombre)</div>
                                    <label class="col-lg-3 control-label"> APELLIDO </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.apellido) @Html.ValidationMessageFor(model => model.apellido)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> USUARIO </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.usuario) @Html.ValidationMessageFor(model => model.usuario)</div>
                                    <label class="col-lg-3 control-label"> CONTRASEÑA </label>
                                    <div class="col-lg-5">@Html.EditorFor(model => model.contraseña) @Html.ValidationMessageFor(model => model.contraseña)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> @Html.LabelFor(model => model.idRol, "ROL") </label>
                                    <div class="col-lg-5">@Html.DropDownList("idRol", String.Empty) @Html.ValidationMessageFor(model => model.idRol)</div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Guardar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Usuario/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
