﻿@model IEnumerable<Daval.Models.Usuario>

@{
    ViewBag.Title = "Gestión de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Usuarios registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()</th>
                                    <td>@Html.DisplayNameFor(model => model.apellido).ToString().ToUpper()</td>
                                    <th>@Html.DisplayNameFor(model => model.usuario).ToString().ToUpper()</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>       
                            @foreach (var item in Model) 
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usuario)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="/Usuario/Details/@item.idUsuario"><i class="icon-ok"></i> Ver más </a> 
                                        <a class="btn btn-sm btn-warning" href="/Usuario/Delete/@item.idUsuario"><i class="icon-remove"></i> Eliminar </a>
                                    </td>
                                </tr>
                            }
                            </tbody>  
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-warning" href="/Usuario/Create">Agregar Usuario</a></div>
                </div>
            </div>
        </div>
    </div>
</div>