﻿@model Daval.Models.POS

@{
    ViewBag.Title = "Gestión de Puntos de Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Eliminar Punto de Venta</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>¿Está seguro de eliminar este punto de venta?</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group row">
                                        <label class="col-lg-2 control-label">NOMBRE</label>
                                        <div class="col-lg-3">@Html.DisplayFor(model => model.nombre)</div>
                                        <label class="col-lg-2 control-label">DIRECCIÓN</label>
                                        <div class="col-lg-3">@Html.DisplayFor(model => model.dirección)</div>
                                        <div class="col-lg-3 pull-right"><input type="submit" value="Eliminar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/POS/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
