﻿@model Daval.Models.POS

@{
    ViewBag.Title = "Gestión de Puntos de Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Editar Punto de Venta</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Edite aquí los datos del punto de venta</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.idPOS)
                                @Html.HiddenFor(model => model.token)
                                @Html.HiddenFor(model => model.fecha_reg)
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> NOMBRE </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.nombre)@Html.ValidationMessageFor(model => model.nombre)</div>
                                    <label class="col-lg-3 control-label"> DIRECCIÓN </label>
                                    <div class="col-lg-3"> @Html.EditorFor(model => model.dirección)@Html.ValidationMessageFor(model => model.dirección)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> ESTADO </label>
                                    <div class="col-lg-3">@Html.DropDownList("idEstado", String.Empty)
                                        @Html.ValidationMessageFor(model => model.idEstado)</div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Guardar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/POS/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
