﻿@model IEnumerable<Daval.Models.POS>

@{
    ViewBag.Title = "Gestión de Puntos de Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Puntos de Venta registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()</th>
                                        <th>DIRECCIÓN</th>
                                        <th>FECHA DE<br />REGISTRO</th>
                                        <th>ESTADO</th>
                                        <th>TOKEN DE<br />REGISTRO</th>
                                        <th>OPCIONES</th>
                                    </tr>
                                 </thead>
                                <tbody>
                                    @foreach (var item in Model) 
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.dirección)</td>
                                            <td>@String.Format("{0:yyyy/MM/dd}", item.fecha_reg)</td>
                                            <td>@Html.DisplayFor(modelItem => item.estados.descripcion)</td>
                                            <td>@Html.DisplayFor(modelItem => item.token)</td>
                                            <td>
                                                <a class="btn btn-sm btn-info" href="/POS/Edit/@item.idPOS"><i class="icon-pencil"></i> Editar </a>
                                                <a class="btn btn-sm btn-warning" href="/POS/Delete/@item.idPOS"><i class="icon-remove"></i> Eliminar </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    <div class="widget-foot"><a class="btn btn-warning" href="/POS/Create">Agregar Punto de Venta</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
