﻿@model IEnumerable<Daval.Models.Rol>

@{
    ViewBag.Title = "Gestión de Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Roles registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                          <tbody>       
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.rolName)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id=item.idRol }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.idRol }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.idRol })*@
                                        <a class="btn btn-sm btn-info" href="/Rol/Edit/@item.idRol"><i class="icon-pencil"></i> Editar</a> 
                                        <a class="btn btn-sm btn-warning" href="/Rol/Delete/@item.idRol"><i class="icon-remove"></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                         </tbody>  
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-warning" href="/Rol/Create">Agregar Rol</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
