﻿@model Daval.Models.Cliente

@{
    ViewBag.Title = "Gestión de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Agregar Cliente</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Digite aquí los datos del cliente</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> CÉDULA </label>
                                    <div class="col-lg-3"><input type="text" id="cedula" name="cedula" class="form-control" placeholder="########"/>@Html.ValidationMessageFor(model => model.cedula)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> NOMBRE </label>
                                    <div class="col-lg-3"><input type="text" id="nombre" name="nombre" class="form-control" placeholder="nombre"/>@Html.ValidationMessageFor(model => model.nombre)</div>
                                    <label class="col-lg-3 control-label"> APELLIDO </label>
                                    <div class="col-lg-3"><input type="text" id="apellido" name="apellido" class="form-control" placeholder="apellido"/>@Html.ValidationMessageFor(model => model.apellido)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> DIRECCIÓN </label>
                                    <div class="col-lg-3"><input type="text" id="direccion" name="direccion" class="form-control" placeholder="carrera..."/>@Html.ValidationMessageFor(model => model.direccion)</div>
                                    <label class="col-lg-3 control-label"> TELÉFONO </label>
                                    <div class="col-lg-3"><input type="text" id="telefono" name="telefono" class="form-control" placeholder="##########"/>@Html.ValidationMessageFor(model => model.telefono)</div>
                                </div>    
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">  MUNICIPIO </label>
                                    <div class="col-lg-3"> @Html.DropDownList("idMunicipio", String.Empty)
                                        @Html.ValidationMessageFor(model => model.idMunicipio)</div>
                                    <label class="col-lg-3 control-label"> ESTRATO </label>
                                    <div class="col-lg-3">@Html.DropDownList("idEstrato", String.Empty)
                                        @Html.ValidationMessageFor(model => model.idEstrato)</div>
                                </div>   
                               <div class="form-group row">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Agregar" class="btn btn-warning" /></div>
                                </div>
                            }
                            </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Cliente/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
