﻿@model Daval.Models.Cliente

@{
    ViewBag.Title = "Gestión de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Detalles del Medidor</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>CEUDLA</th>
                                    <th>NOMBRE</th>
                                    <th>APELLIDO</th>
                                    <th>DIRECCIÓN</th>
                                    <th>TELÉFONO</th>
                                    <th>MUNICIPIO</th>
                                    <th>ESTRATO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.cedula)</td>
                                    <td>@Html.DisplayFor(model => model.nombre)</td>
                                    <td>@Html.DisplayFor(model => model.apellido)</td>
                                    <td>@Html.DisplayFor(model => model.direccion)</td>
                                    <td>@Html.DisplayFor(model => model.telefono)</td>
                                    <td> @Html.DisplayFor(model => model.municipio.nombre)</td>
                                    <td> @Html.DisplayFor(model => model.estrato.estratoNom)</td>
                                    <td><a class="btn btn-sm btn-warning" href="/Cliente/Edit/@Model.cedula"><i class="icon-pencil"></i> Editar </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Cliente/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>