﻿@model Daval.Models.Cliente

@{
    ViewBag.Title = "Gestión de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Editar Cliente</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Edite aquí los datos del cliente</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.cedula)
    
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> NOMBRE </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.nombre)@Html.ValidationMessageFor(model => model.nombre)</div>
                                    <label class="col-lg-3 control-label"> APELLIDO </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.apellido)@Html.ValidationMessageFor(model => model.apellido)</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> DIRECCIÓN </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.direccion)
                                                        @Html.ValidationMessageFor(model => model.direccion)</div>
                                    <label class="col-lg-3 control-label"> TELÉFONO </label>
                                    <div class="col-lg-3">@Html.EditorFor(model => model.telefono)
                                                        @Html.ValidationMessageFor(model => model.telefono)</div>
                                </div>    
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">  MUNICIPIO </label>
                                    <div class="col-lg-3">@Html.DropDownList("idMunicipio", String.Empty)
                                        @Html.ValidationMessageFor(model => model.idMunicipio)</div>
                                    <label class="col-lg-3 control-label"> ESTRATO </label>
                                    <div class="col-lg-3">
                                        @Html.DropDownList("idEstrato", String.Empty)
                                        @Html.ValidationMessageFor(model => model.idEstrato)</div>
                                </div>   
                              <hr />
                                <div class="form-group">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Guardar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Cliente/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
