﻿@model IEnumerable<Daval.Models.Cliente>

@{
    ViewBag.Title = "Gestión de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Clientes registrados</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>CÉDULA</th>
                                    <th>NOMBRE</th> 
                                    <th>APELLIDO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) 
                                {
                                        <tr>
                                             <td>
                                                @Html.DisplayFor(modelItem => item.cedula)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.apellido)
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-info" href="/Cliente/Details/@item.cedula"><i class="icon-ok"></i> Ver más </a>
                                                @*<a class="btn btn-sm btn-info" href="/Cliente/Medidor/@item.cedula"><i class="icon-ok"></i> Asignar Medidor </a>
                                                <a class="btn btn-sm btn-warning" href="/Cliente/Tarjeta/@item.cedula"><i class="icon-ok"></i> Asignar Tarjeta </a>*@
                                                <a class="btn btn-sm btn-warning" href="/Cliente/Delete/@item.cedula"><i class="icon-remove"></i> Eliminar </a>
                                            </td>
                                        </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <a class="btn btn-warning" href="/Cliente/Create">Agregar Cliente</a>
                        <a class="btn btn-warning" href="/Cliente/Tarjeta">Asignar Tarjeta</a>
                        <a class="btn btn-warning" href="/Cliente/Medidor">Asignar Medidor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>