﻿@model Daval.Models.Alerta

@{
    ViewBag.Title = "Gestión de Alertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Agregar Alerta</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Digite aquí los datos de la alerta</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> MEDIDOR </label>
                                    <div class="col-lg-3">@Html.DropDownList("idMedidor",string.Empty)@Html.ValidationMessageFor(model => model.idMedidor) </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">ALERTA</label>
                                    <div class="col-lg-3">
                                        @Html.DropDownList("idTipoAlerta", string.Empty)
                                        @Html.ValidationMessageFor(model => model.idTipoAlerta)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">FECHA</label>
                                    <div class="col-lg-3">
                                            <div id="datetimepicker1" class="input-append datetimepicker">
                                                <input type="text" data-format="yyyy/MM/dd" class="picker" id="fecha" name="fecha" placeholder="AAAA/MM/DD"/> 
                                                <span class="add-on">&nbsp;<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i></span>
                                                 @Html.ValidationMessageFor(model => model.fecha)
                                            </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Agregar" class="btn btn-warning" /></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/Alerta/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}