﻿@model IEnumerable<Daval.Models.Alerta>

@{
    ViewBag.Title = "Historial de Alertas";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Alertas Registradas</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <div class="error-log">
                                <ul>
                                    <!-- Use class bootstrap lables -->
                                    @foreach (var item in Model) 
                                    {
                                        <li>
                                            <span class="label label-warning">[@Html.DisplayFor(modelItem => item.tiposAlerta.descripcion)]</span>
                                            <span class="label label-info"> [@String.Format("{0:ddd MMM dd, yyyy - HH:mm:ss}", item.fecha)]</span>
                                            <span class="label label-info">[Medidor:  @Html.DisplayFor(model => item.medidor.serial)] </span> 
                                        </li>
                                    } 
                                </ul>
                            </div>
                         </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                      <a class="btn btn-warning" href="/Alerta/Create">Agregar Alerta</a>
                  </div>
                </div>
              </div>  
            </div>
        </div>
    </div>
</div>