﻿@model Daval.Models.Recarga

@{
    ViewBag.Title = "Historial de Recargas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Detalles del Medidor</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>RECARGA</th>
                                    <th>FECHA</th>
                                    <th>VALOR</th>
                                    <th>METROS CÚBICOS<br />COMPRADOS</th>
                                    <th>TARJETA</th>
                                    <th>USUARIO</th>
                                    <th>PUNTO DE<br />VENTA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.idRecarga)</td>
                                    <td>@String.Format("{0:yyyy/MM/dd}", Model.fecRecarga)</td>
                                    <td>$ @Html.DisplayFor(model => model.valor)</td>
                                    <td>@Html.DisplayFor(model => model.mcc)</td>
                                    <td>@Html.DisplayFor(model => model.tarjeta.serial)</td>
                                    <td>@String.Format("{0} {1}", Model.usuario.nombre, Model.usuario.apellido)</td>
                                    <td>@Html.DisplayFor(model => model.pos.nombre)</td>
                                 </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot"><a class="btn btn-warning" href="/Recarga/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>    