﻿@model IEnumerable<Daval.Models.Recarga>

@{
    ViewBag.Title = "Historial de Recargas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Lista de Recargas</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                                <tr>
                                    <th>RECARGA</th>
                                    <th>VALOR DE<br />LA RECARGA</th>
                                    <th>METROS CUBICOS<br />COMPRADOS</th>
                                    <th>OPCIONES</th>
                                </tr>
                            <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idRecarga)
                                    </td>
                                    <td>
                                       $ @Html.DisplayFor(modelItem => item.valor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mcc)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-warning" href="/Recarga/Details/@item.idRecarga"><i class="icon-ok"></i> Ver más </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
