﻿@model IEnumerable<Daval.Models.POS>

@{
    ViewBag.Title = "Relación de Recargas por POS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Relación de Recargas por Punto de Venta</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Seleccione un Punto de Venta</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            <form class="form-inline" role="form" action="/Recarga/POS" method="post" id="formulario">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">PUNTO DE VENTA</label>
                                    <div class="col-lg-6">
                                        <select id="idPOS" name="idPOS" class="form-control">
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.idPOS">@item.nombre.ToUpper()</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="button" class="btn btn-warning" id="buscarBtn">Consultar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    @*<div class="widget-foot"></div>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="widget worange">
                    <table class="table table-bordered" id="recargasPOS">
                        <thead>
                            <tr>
                                <th>RECARGA</th>
                                <th>METROS CÚBICOS COMPRADOS</th>
                                <th>VALOR ($)</th>
                                <th>FECHA</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('#buscarBtn').click(function () {
            var form = $('#formulario');
            var url = form.attr("action");
            var formData = form.serialize();
            $.post(url, formData, function (data) {
                var tbody = $('#recargasPOS tbody');
                tbody.empty();
                // ***
                $.each(data, function (idx, elem) {
                    var fecRec = new Date(parseInt(elem.fecRecarga.substr(6)));
                    tbody.append(
                        "<tr><td>" + elem.idRecarga +
                        "</td><td>" + elem.mcc +
                        "</td><td>" + elem.valor +
                        "</td><td>" + fecRec.toString() +
                        "</td></tr>"
                        );
                });
            });
        })
    </script>
}