﻿@model Daval.Models.POA

@{
    ViewBag.Title = "Gestión de Puntos de Administración";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="widget wlightblue">
                    <div class="widget-head">
                        <div class="pull-left">Agregar Punto de Administración</div>
                        <div class="widget-icons pull-right">
                            <a class="wminimize" href="#" ><i class="icon-chevron-up"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <h6>Digite aquí los datos del punto de administración</h6><hr />
                        </div>
                        <div class="form-horizontal">
                            @using (Html.BeginForm()) 
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> NOMBRE </label>
                                    <div class="col-lg-3"><input type="text" id="nombre" name="nombre" class="form-control" placeholder="nombre"/>@Html.ValidationMessageFor(model => model.nombre)</div>
                                    <label class="col-lg-3 control-label"> DIRECCIÓN </label>
                                    <div class="col-lg-3"><input type="text" id="dirección" name="dirección" class="form-control" placeholder="dirección"/>@Html.ValidationMessageFor(model => model.dirección)</div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-lg-3 control-label"> ESTADO </label>
                                    <div class="col-lg-3">@Html.DropDownList("idEstado", String.Empty)
                                    @Html.ValidationMessageFor(model => model.idEstado)</div>
                                </div> <hr />
                                <div class="form-group row">
                                    <div class="col-lg-4 pull-right"><input type="submit" value="Agregar" class="btn btn-warning" /></div>
                                </div>
                            }
                            </div>
                    </div>
                    <div class="widget-foot"><a class="btn btn-info" href="/POA/Index">Volver</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
